div{
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

.menu{
    width: 10px;
    height: 70px;
    visibility: hidden;
    background-color: blue;
}

.icon:hover .menu{
    width: 100px;
    height: 70px;
    visibility: visible;
    /* opacity: 100; */
    transition: 1s;
}